# Ignorar carpeta del entorno virtual
bin/
lib/
share/
include/
notebooks/
pyvenv.cfg

# Build artifacts
*.egg-info/

# Ignorar archivos temporales
*.pyc
__pycache__/

# Pero NO ignorar otros archivos ni carpetas del proyecto
