# Ignorar carpeta del entorno virtual
bin/
lib/
share/
include/
notebooks/
data_points/
pyvenv.cfg

# Build artifacts
*.egg-info/
etc/

# Ignorar archivos temporales
*.pyc
__pycache__/

# Pero NO ignorar otros archivos ni carpetas del proyecto
