# Ignorar carpeta del entorno virtual
bin/
lib/
share/
include/
notebooks/
data_points/
data_temp/
data_temp_wc/
data_rain_temp/
pyvenv.cfg

# Build artifacts
*.egg-info/
etc/
.DS_Store

# Ignorar archivos temporales
*.pyc
__pycache__/

# Pero NO ignorar otros archivos ni carpetas del proyecto
